* {
    -fx-closeButtonColor: #FF605C;
    -fx-minimizeButtonColor:#FFBD44;
    -fx-fullScreenButtonColor:#00CA4E;
    -fx-colorPrimary:#D9D9D9;
}
@font-face {
    font-family: Cloud;
    src:url('../asset/fonts/Cloud-Bold.otf');
}
@font-face {
    font-family: FC-Sound;
    src:url('../asset/fonts/FC-Sound.otf');
}
@font-face{
    font-family:"pixellet";
    font-style: normal;
    font-weight: 300;
    src:url('../asset/fonts/pixellet.ttf');
}
.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
